.animation-toggle-btn {
    position: relative;
    width: 100%;
    height: 45px;
    // margin-top: 1rem;
    cursor: pointer;
    background: url('../../static/icons/AnimateOff.png') center center no-repeat;
}

.animation-toggle-btn.is-open {
    background: url('../../static/icons/AnimateOn.png') center center no-repeat;
}