.swipe-widget-toggle-btn {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    cursor: pointer;
    background: url('./SwipeOff.png') center center no-repeat;
}

.swipe-widget-toggle-btn.is-open {
    background: url('./SwipeOn.png') center center no-repeat;
}