.gutter-container {
    @apply absolute top-0 left-0 h-full p-0 z-10  w-[var(--gutter-width)];
}

.gutter-container .gutter-nav-btn {
    @apply relative cursor-pointer text-center py-[6px] mb-1 w-full flex items-center justify-center;
}

.is-mobile .gutter-container {
    display: block;
    top: 45px;
}

