#customizedPopupInfoWindow{
    position: absolute;

    // width: 450px;
    // height: 65px;
    z-index: 10;

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .content-wrap {
        // position: relative;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
        background: rgba(44,103,172, 0.9);

        font-size: .85rem;
        padding: 0 .5rem;

        .text-wrap {
            padding: .6rem .75rem;
            padding: 1rem;
            // padding-right: .75rem;

            .release-name {
                font-size: .95rem;
            }
        }

        // .btns-wrap {
        //     height: 100%;
        //     // line-height: 45px;
        //     padding-left: .75rem;
        //     border-left: solid 1px rgba(255,255,255,.3);

        //     .open-item-btn {
        //         margin-top: .25rem;
        //         padding-left: .2rem;
        //         font-size: 1.15rem;
        //     }

        //     .add-to-webmap-btn {
        //         height: 30px;
        //         width: 30px;
        //         background: url('../../assets/icons/QueueOffSelected.png') center left no-repeat;
        //         // background-size: contain;
        //     }

        //     .add-to-webmap-btn.is-selected {
        //         background: url('../../assets/icons/QueueOnSelected.png') center center no-repeat;
        //     }
        // }

        .close-btn {
            position: absolute;
            top: 3px;
            right: 10px;
            width: 10px;
            font-size: .75rem;
            // height: 20px;
            // line-height: 20px;
            // background: rgba(0,0,0,.75);
            // border-radius: 100px;
            cursor: pointer;
        }

        .close-btn.is-right {
            right: none;
            left: 5px;
        }

    }

    .reticle-wrap {
        width: 45px;
        height: 45px;
        background: url('../../assets/ReticleLeftBlue.png') center center no-repeat;
        background-size: contain;
    }

    .reticle-wrap.is-right {
        width: 45px;
        height: 45px;
        background: url('../../assets/ReticleRightBlue.png') center center no-repeat;
        background-size: contain;
    }

    .flex-container {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
    }
}