.popup-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    pointer-events: none;
}

.popup-container .content-wrap {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background: rgba(44, 103, 172, 0.9);
    font-size: 0.85rem;
    padding: 0 0.5rem;
    pointer-events: auto;
}

.popup-container .content-wrap .text-wrap {
    padding: 0.6rem 0.75rem;
    padding: 1rem;
}

.popup-container .content-wrap .text-wrap .release-name {
    font-size: 0.95rem;
}

.popup-container .content-wrap .close-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 10px;
    font-size: 0.75rem;
    cursor: pointer;
}

.popup-container .content-wrap .close-btn.is-right {
    right: none;
    left: 5px;
}

.popup-container .reticle-wrap {
    width: 45px;
    height: 45px;
    background: url('../../static/ReticleLeftBlue.png') center center no-repeat;
    background-size: contain;
}

.popup-container .reticle-wrap.is-right {
    width: 45px;
    height: 45px;
    background: url('../../static/ReticleRightBlue.png') center center no-repeat;
    background-size: contain;
}

.popup-container .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}
