@import '../../style/colors.scss';

.save-as-webmap-btn-container{
    position: relative;
    width: 100%;
    height: 50px;

    .create-agol-webmap {
        background: url('../../static/icons/QueueGroupNo.png') center no-repeat;
        cursor: default;
        width: 100%;
        height: 100%;

        .overlay-label {
            position: absolute;
            bottom: -5px;
            right: 5px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: $color-active-item;
            font-size: .65rem;
            box-shadow: 1px 1px 10px 3px rgba(0,0,0,.5);
            display: none;
        }
    }

    .create-agol-webmap.is-active {
        // margin-top: .5rem;
        background: url('../../static/icons/QueueGroupYes.png') center no-repeat;
        cursor: pointer;

        .overlay-label {
            display: block;
        }
    }

    .font-size--4 {
        font-size: 0.7rem;
    }
}