.reference-layer-toggle {
    position: absolute;
    top: 48px;
    right: 15px;
    width: 240px;
    height: 32px;
    line-height: 32px;
    background: rgba(0,0,0,.8);
    z-index: 0;
    font-size: 0.8125rem;

    display:flex;
    align-items:center;

    div {
        display:flex;
        align-items:center;
    }

    svg {
        fill: #fff;
    }
}