.bar-chart-container {
    .bar {
        fill: var(--color-inactive-item);
    }
    
    .bar:hover {
        fill: #888;
    }
    
    .bar.is-highlighted  {
        fill: var(--color-highlight-item);
    }
    
    .bar.is-highlighted:hover {
        fill: var(--color-hover-item);
    }
    
    .bar.is-active,
    .bar.is-highlighted.is-active {
        fill: var(--color-active-item);
    }

    .bar.is-hide {
        display: none;
    }
    
    .axis--x {
    
        path {
            /* display: none; */
            stroke: var(--barchart-axis-color);
        }
    
        .tick {
            line {
                stroke: var(--barchart-axis-color);
            }
    
            text {
                fill: var(--controls-text-color);
            }
        }
    }
}