.reference-layer-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 240px;
    height: 32px;
    line-height: 32px;
    background: #242424;
    z-index: 0;
    font-size: 0.8125rem;
    color: #d1d1d1;

    display:flex;
    align-items:center;
}

.reference-layer-toggle div {
    display:flex;
    align-items:center;
}

.reference-layer-toggle svg {
    fill: #d1d1d1;
}