.layer-selector.is-selected:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-left-color: var(--color-active-item);
    border-width: 12px;
    margin-top: -12px;
}

.layer-selector.is-selected.is-arrow-on-left:after{
    content: "";
    position: absolute;
    left: -24px;
    top: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-right-color: var(--color-active-item);
    border-width: 12px;
    margin-top: -12px;
}