@import '../../style/colors.scss';

.layer-selector.is-selected:after{
    position: absolute;
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    border-left-color: $color-active-item;
    border-width: 12px;
    margin-top: -12px;
    // z-index: 1;
}

.layer-selector.is-selected.is-arrow-on-left:after{
    position: absolute;
    left: -24px;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    border-right-color: $color-active-item;
    border-width: 12px;
    margin-top: -12px;
}