@import '~calcite-web/dist/css/calcite-web.min.css';
@import './colors.scss';
@import './config.scss';
@import './sidebar.scss';
@import './customized-modal.scss';
@import './customized-tooltip.scss';
@import './fancy-scrollbar.scss';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: $default-text-color
}

#appRootDiv, .app-content {
    position: relative;
    width: 100%;
    height: 100%;

    video, img {
        height: auto;
    }
}

video, img {
    height: 0;
}

.cursor-pointer {
    cursor: pointer;
}

*,*:focus,*:hover{
    outline:none;
}