@import '~calcite-web/dist/css/calcite-web.min.css';
@import url('https://js.arcgis.com/4.7/esri/css/main.css');

// variables
$default-text-color: #ccc;

$gutter-width: 50px;
$gutter-bgColor: #444444;

$sidebar-width: 300px;
$sidebar-bgColor: #121212;


$list-card-height: 38px;
$list-card-is-selected-bgColor: #555555;
$add-to-webmap-btn-is-selected-bgColor: rgba(255,255,255,.2);

$inactive-opacity: .75;
$timeline-border-color: rgba(220, 220, 220, .4);
$map-controls-border-color: rgba(220, 220, 220, .3);
$controls-text-color: #ccc;

$barchart-axis-color: rgba(255,255,255,.4);

$color-inactive-item: rgba(76,76,76, .6);
$color-active-item: #2267AE;
$color-highlight-item: #fff;
$color-highlight-item-hover: #56a5d8;
$color-hover-item: #1A3D60;

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#mapDiv {
    position: absolute;
    top: 0;
    left: $gutter-width + $sidebar-width;
    bottom: 0;
    right: 0;
}

#mapLoaderDiv {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: -50px;
    left: 50%;
    z-index: 100;
}

#gutter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $gutter-width;
    background-color: $gutter-bgColor;
    color: $default-text-color;

    .gutter-nav-btn {
        position: relative;
        width: $gutter-width;
        height: $gutter-width;
        line-height: $gutter-width;
        cursor: pointer;

        .overlay-label {
            position: absolute;
            bottom: -5px;
            right: 5px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: $color-active-item;
            font-size: .65rem;
            display: none;
        }
    }

    .create-agol-webmap {
        background: url('../assets/icons/QueueGroupNo.png') center no-repeat;
        cursor: default;
    }

    .create-agol-webmap.is-active {
        margin-top: .5rem;
        background: url('../assets/icons/QueueGroupYes.png') center no-repeat;
        cursor: pointer;

        .overlay-label {
            display: block;
        }
    }

    .shadow-trailer {
        box-shadow: 0 0 12px 4px rgba(0,0,0,.5);
    }
}

#sidebar {
    position: absolute;
    top: 0;
    left: $gutter-width;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-bgColor;
    color: $default-text-color;
    z-index: 99;
    overflow: hidden;
}

.y-scroll-visible {
    position: relative;
    overflow-y: auto;
    height: calc(100% - 260px);
}

.list-card {
    // padding: .5rem;
    height: $list-card-height;
    line-height: $list-card-height;
    padding-left: .5rem;
    background-color: #1C1C1C;
    border-left: solid 4px #1C1C1C;

    .open-item-btn {
        font-size: 1.2019rem;
    }

    .add-to-webmap-btn {
        width: $list-card-height;
        height: $list-card-height;
        background: url('../assets/icons/QueueOff.png') center no-repeat;
    }
}

.list-card.is-selected {
    .add-to-webmap-btn {
        background: $add-to-webmap-btn-is-selected-bgColor url('../assets/icons/QueueOn.png') center no-repeat;
        // background-color: rgba(255,255,255,.3);
    }
}

.list-card.is-highlighted {
    opacity: 1;
    border-left: solid 4px $color-highlight-item;

    .add-to-webmap-btn {
        background: url('../assets/icons/QueueOffSelected.png') center no-repeat;
    }
}

.list-card.is-highlighted.is-selected {
    .add-to-webmap-btn {
        background: $add-to-webmap-btn-is-selected-bgColor url('../assets/icons/QueueOnSelected.png') center no-repeat;
    }
}


.list-card.is-active {
    background-color: $color-active-item;
}

.list-card.is-active:hover,
.list-card.is-highlighted:hover {
    border-left: solid 4px $color-highlight-item;
}

.list-card:hover {
    background-color: $color-hover-item;
    border-left: solid 4px $color-hover-item;
}

.control-items-wrap {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    position: relative;
}

.control-items-wrap .fill {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    position: relative;
}

.location-search-input {
    background-color: rgba(0,0,0,.85);
    border: 1px solid $map-controls-border-color;
    color: $controls-text-color;
}

.control-btn {
    line-height: 32px;
    width: 40px;
    text-align: center;
    border: solid 1px $map-controls-border-color;
    color: $controls-text-color;
    cursor: pointer;
}

// .control-btn:hover {
//     border: solid 1px #6e6e6e;
// }

// .breadcrumb-nav span{
//     opacity: .7;
//     cursor: pointer;
// }

// .breadcrumb-nav span.is-active{
//     opacity: 1;
//     font-weight: 600;
// }

// .pseudo-divider::after {
//     content: '/';
//     font-weight: 400;
//     padding: 0 .2rem 0 .4rem;
//     display: inline-block;
//     opacity: 1;
// }

[class^="icon-ui-"]:before, [class*=" icon-ui-"]:before {
    padding-right: 0;
}

.border-bottom {
    border-bottom: solid 1px $map-controls-border-color;
}

// #barChartWrap {
//     border: solid 1px $map-controls-border-color;
// }

#barChartDiv {
    height: 100px;
    width: 100%;
    // background-color:rgba(0,0,0,.85);
    // border: solid 1px $map-controls-border-color;
}

.bar {
    fill: $color-inactive-item;
}

.bar:hover {
    fill: #888;
}

.bar.is-highlighted  {
    fill: $color-highlight-item;
}

.bar.is-highlighted:hover {
    fill: $color-hover-item;
}

.bar.is-active,
.bar.is-highlighted.is-active {
    fill: $color-active-item;
}

.axis--x {

    path {
        /* display: none; */
        stroke: $barchart-axis-color;
    }

    .tick {
        line {
            stroke: $barchart-axis-color;
        }

        text {
            fill: $controls-text-color;
        }
    }
}

.initally-hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.child-align-v-center {
    display:flex;
    align-items:center;
}

.child-align-h-right {
    display:flex;
    justify-content: flex-end;
}

.font-size-22px {
    font-size: 22px;
}

.panel-no-background {
    background-color: rgba(0,0,0,0) !important;
}

.panel-padding-leader-0 {
    padding-top: 0;
}

.panel-padding-trailer-0 {
    padding-bottom: 0;
}

.panel-semi-transparent {
    background-color: rgba(0,0,0,.9)
}

.filter-with-cbox {

    .icon-ui-checkbox-checked {
        display: none;
    };

    .icon-ui-checkbox-unchecked {
        display: inline-block;
    };
}

.filter-with-cbox.is-checked {
    
    .icon-ui-checkbox-checked {
        display: inline-block;
    };

    .icon-ui-checkbox-unchecked {
        display: none;
    };
}

/* address locator styles */

    .address-candidates-list {
        position: absolute;
        width: 100%;
        top: 39px;
        z-index: 1000;
    }

    .address-candidates-list > div {
        padding: .5rem .5rem;
        border-bottom: 1px solid rgba(120,120,120,0.2);
        background-color: #efefef;
        color: #303030;
        font-size: .825rem;
        cursor: pointer;
    }

    .address-candidates-list > div:hover,
    .address-candidates-list > div.is-highlighted {
        background-color: $color-active-item;
        color: #fff;
    }

/* end of address locator styles */


/* tile preview window styles */

    // .tile-preview-window-wrap {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     // background-color: rgba(0,0,0,.65);
    // };

    .tile-preview-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 256px;
        height: 256px;
        // background: #888;
        pointer-events: none;
        z-index: 50;
        border: solid 1px rgba(240,240,240,.5);
        box-shadow: 0 0 10px 10px rgba(0,0,0,.6);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 50;
        }

        .tile-preview-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: .25rem 0;
            // background: rgba(0,0,0,.4);
            z-index: 100;
            color: #fff;
            
            span {
                text-shadow: 2px 2px 15px #000000;
            }
        }
    }

/* end of tile preview window styles */

/* style for crosshair marker */

    $crosshairHeight: 20px;
    $crosshairWidth: $crosshairHeight / 5;

    .crosshair-marker {
        position: absolute;
        top: 500px;
        left: 500px;
        width: $crosshairWidth;
        height: $crosshairHeight;
        background-color: #efefef;
        z-index: 51;
        box-shadow: 0 0 16px 8px rgba(0,0,0,.6);
    }

    .crosshair-marker:after {
        background: #efefef;
        content: "";
        height: $crosshairWidth;
        left: -$crosshairWidth * 2;
        position: absolute;
        top: $crosshairWidth * 2;
        width: $crosshairHeight;
    }

/* style for crosshair marker */


/* style for customized-tooltip */

    .customized-tooltip {
        background: #fff;
        color: #333;
        padding: .5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        max-width: 190px;
    }


/* style for customized-tooltip */




/* style for scroll bar*/

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(100, 100, 100, .5); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666; 
    }

/* end of style for scroll bar*/;