@import './calcite-web/css/calcite-web.min.css';
@import './variables.css';
@import './customized-modal.css';
@import './customized-tooltip.css';
@import './fancy-scrollbar.css';
@import './sidebar.css';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: var(--default-text-color);
}
#appRootDiv {
    position: relative;
    width: 100%;
    height: 100%;
}
#appRootDiv video, 
#appRootDiv img {
    height: auto;
}

#appRootDiv .esri-swipe--horizontal .esri-swipe__container {
    outline: 0;
}

video, img {
    height: 0;
}

.cursor-pointer {
    cursor: pointer;
}

