@import url('https://js.arcgis.com/4.7/esri/css/main.css');
@import '~calcite-web/dist/css/calcite-web.min.css';

body {
    background-color: cornflowerblue;
}


#app {
    height: 100%;
    width: 100%;
}