@import '~calcite-web/dist/css/calcite-web.min.css';
@import './colors.scss';
@import './config.scss';
@import './gutter.scss';
@import './customized-modal.scss';
@import './customized-tooltip.scss';
@import './fancy-scrollbar.scss';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: $default-text-color
}

.sidebar {
    position: absolute;
    top: 0;
    left: $gutter-width;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-bgColor;
    // overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
    // padding: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .is-flexy {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
    }

    .content-wrap {
        padding: 0 1rem;
    }

    .x-scroll-hide {
        overflow-x: hidden;
    }

    .y-scroll-visible {
        position: relative;
        overflow-y: auto;
        // max-height: 665px;
    }
}

.map-container {
    position: absolute;
    top: 0;
    left: $gutter-width + $sidebar-width;
    bottom: 0;
    right: 0;
}

.cursor-pointer {
    cursor: pointer;
}