@import '~calcite-web/dist/css/calcite-web.min.css';
@import './colors.scss';
@import './config.scss';
@import './gutter.scss';
@import './sidebar.scss';
@import './customized-modal.scss';
@import './customized-tooltip.scss';
@import './fancy-scrollbar.scss';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: $default-text-color
}

.cursor-pointer {
    cursor: pointer;
}