@import './config.scss';
@import './colors.scss';

.sidebar {
    position: absolute;
    top: 0;
    left: $gutter-width;
    width: $sidebar-width;
    height: 100%;
    background-color: $default-ui-bgColor;
    // overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
    // padding: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .is-flexy {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
    }

    .content-wrap {
        padding: 0 1rem;
    }

    .x-scroll-hide {
        overflow-x: hidden;
    }

    .y-scroll-visible {
        position: relative;
        overflow-y: auto;
        // max-height: 665px;
    }

    .sidebar-toggle-btn {
        display: none;
    }
}

.is-mobile {

    .sidebar { 
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        left: $gutter-width;
        width: calc(100% - 50px);
        max-height: $sidebar-height-mobile;

        .sidebar-toggle-btn {
            display: block;
            position: absolute;
            top: .5rem;
            right: .5rem;
            fill: #fff;
        }
    }

    .sidebar.is-hide{
        max-height: unset;
        height: auto;
    }
}

.is-gutter-hide {

    .sidebar {
        left: 0;
        width: 100%;
    }
}