.sidebar {
    position: absolute;
    top: 0;
    left: var(--gutter-width);
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--default-ui-bgColor);
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.sidebar .is-flexy {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.sidebar .content-wrap {
    padding: 0 1rem;
}

.sidebar .x-scroll-hide {
    overflow-x: hidden;
}

.sidebar .y-scroll-visible {
    position: relative;
    overflow-y: auto;
}

.sidebar .sidebar-toggle-btn {
    display: none;
}

.is-mobile .sidebar {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    left: var(--gutter-width);
    width: calc(100% - 50px);
    max-height: var(--sidebar-height-mobile);
}

.is-mobile .sidebar .sidebar-toggle-btn {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    fill: #fff;
}

.is-mobile .sidebar.is-hide {
    max-height: unset;
    height: auto;
}

.is-gutter-hide .sidebar {
    left: 0;
    width: 100%;
}
