:root {
    --gutter-width: 50px;
    --sidebar-width: 300px;
    --sidebar-height-mobile: 300px;
    --list-card-height: 38px;
    --list-card-background: #1c1c1c;
    --card-background: #1c1c1c;

    --default-text-color: #ccc;
    --gutter-bgColor: #444444;
    --default-ui-bgColor: #121212;

    --color-inactive-item: rgba(76,76,76, .6);
    --color-active-item: #2267AE;
    --color-highlight-item: #fff;
    --color-highlight-item-hover: #56a5d8;
    --color-hover-item: #1A3D60;

    --theme-blue-dark:#1A3D60;
}
