.hide-map-control arcgis-zoom,
.hide-map-control arcgis-search {
    display: none;
}

/* Custom styles to override Calcite components' default styles to fit our theme */
.calcite-theme-override {
    --calcite-color-foreground-1: var(--default-ui-bgColor);
    --calcite-color-foreground-2: var(--default-ui-bgColor);
    --calcite-color-foreground-3: var(--default-ui-bgColor);
    --calcite-color-foreground-4: var(--default-ui-bgColor);

    --calcite-color-text-1: var(--default-text-color);
    --calcite-color-text-2: var(--default-text-color);
    --calcite-color-text-3: var(--default-text-color);

    --calcite-color-border-3: var(--default-text-color);
}