.checkbox-toggle-control {
    display: flex;
    align-items: center;
    cursor: pointer;

    .checkbox-icon {
        display:flex;
        align-items:center;
    }

    svg {
        fill: #999;
    }
}